/* line 36, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.5/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.5/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto;
}

/* line 5, ../sass/partials/_extendables.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next .hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* line 15, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_tiny {
  width: 50px;
}

/* line 19, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_small {
  width: 100px;
}

/* line 23, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_medium {
  width: 150px;
}

/* line 27, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_large {
  width: 200px;
}

/* line 31, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_xlarge {
  width: 250px;
}

/* line 35, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_xxlarge {
  width: 300px;
}

/* line 39, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_full {
  width: 100%;
}

/* line 46, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* line 54, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input[type="search"]::-webkit-search-decoration {
  display: none;
}

/* line 65, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 69, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 5px 0;
  -moz-box-shadow: #0066ff 0 0 5px 0;
  box-shadow: #0066ff 0 0 5px 0;
  z-index: 1;
}

/* line 80, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 89, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button,
a.button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: #ddd;
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  display: inline-block;
  font: bold 12px / 1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
/* line 111, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active {
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
/* line 124, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 130, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
a.button {
  *padding-bottom: 3px;
}

/* line 135, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 155, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
/* line 178, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}

/* line 189, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

/* line 203, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

/* line 208, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

/* line 213, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

/* line 219, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
textarea,
select[size],
select[multiple] {
  height: auto;
}

/* line 226, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  /* line 236, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  /* line 242, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  /* line 249, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px / 17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  /* line 264, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
/* line 272, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

/* line 279, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}
/* line 287, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_formalize.scss */
optgroup::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 558, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 568, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 577, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 586, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 600, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 610, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 622, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 631, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 644, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 653, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 662, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 670, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 678, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 688, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 700, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 709, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 717, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 725, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 734, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 741, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 745, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 757, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 765, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 777, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 789, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 800, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 814, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 826, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 838, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 853, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 863, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 873, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 884, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 897, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 906, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 916, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 929, ../../../../../Library/Ruby/Gems/1.8/gems/compass-pattern-primer-0.2.6/stylesheets/compass-pattern-primer/reset/libraries/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../sass/base/_page.scss */
html {
  background-color: none;
}

/* line 8, ../sass/base/_page.scss */
body {
  background-color: #191919;
  background-image: url(../images/background.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  border: none;
  height: 100%;
}

/* line 17, ../sass/base/_page.scss */
main article {
  margin: 1em auto;
  position: relative;
}
/* line 20, ../sass/base/_page.scss */
main article h1 {
  color: #eee;
}
/* line 22, ../sass/base/_page.scss */
main article h1:first-letter {
  text-transform: uppercase;
}
/* line 26, ../sass/base/_page.scss */
main article .videoplayer, main article .mejs-video {
  margin: 0 auto;
  max-width: 720px;
  height: auto;
}
/* line 30, ../sass/base/_page.scss */
main article .videoplayer.mejs-container-fullscreen, main article .mejs-video.mejs-container-fullscreen {
  max-width: 100%;
  height: auto;
}
/* line 34, ../sass/base/_page.scss */
main article .videoplayer video, main article .mejs-video video {
  max-width: 100%;
  -webkit-box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
}
/* line 39, ../sass/base/_page.scss */
main article > img {
  -webkit-box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
  box-shadow: -20px 0px 40px rgba(0, 0, 0, 0.75), 5px 5px 20px rgba(0, 0, 0, 0.5);
}
/* line 42, ../sass/base/_page.scss */
main article ul {
  list-style: none;
  margin: 0 0 0;
  padding: 0;
}
/* line 11, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
main article ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 46, ../sass/base/_page.scss */
main article ul li {
  font-size: 1.75em;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/modules/_header.scss */
header {
  width: 720px;
  margin: 0.67em auto;
}
/* line 8, ../sass/modules/_header.scss */
header h1 {
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 12, ../sass/modules/_header.scss */
header h2 a {
  color: #aaa;
  text-decoration: none;
  font-size: .875em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 17, ../sass/modules/_header.scss */
header h2 a:hover {
  color: #ccc;
}

/* line 5, ../sass/modules/_footer.scss */
footer {
  padding: 1em 0;
  clear: both;
  color: #ddd;
  margin: 0 auto;
  max-width: 720px;
  font-size: .75em;
  color: #999;
}
/* line 13, ../sass/modules/_footer.scss */
footer a {
  color: #aaa;
}
/* line 16, ../sass/modules/_footer.scss */
.playlist footer {
  max-width: 1120px;
}

/* line 6, ../sass/modules/_homepage_nav.scss */
.home article {
  margin: 1em auto;
}
/* line 8, ../sass/modules/_homepage_nav.scss */
.home article img {
  position: relative;
}

/* line 13, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] {
  width: 916px;
  position: absolute;
  top: 0;
  height: 527px;
}
/* line 18, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
}
/* line 23, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.main {
  top: 41%;
  text-align: center;
}
/* line 26, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.main > li {
  font-weight: bold;
  display: block;
}
/* line 29, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.main > li span {
  font-weight: normal;
}
/* line 32, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.main > li a {
  display: block;
  color: #eee;
  border: 1px transparent solid;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 38, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.main > li a:hover {
  background: #666;
  border-top: 1px rgba(0, 0, 0, 0.75) solid;
  border-bottom: 1px rgba(0, 0, 0, 0.75) solid;
  background: rgba(0, 0, 0, 0.75);
}
/* line 48, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul {
  display: inline;
}
/* line 50, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.secondary {
  bottom: 1%;
}
/* line 52, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.secondary > li {
  display: inline;
  float: right;
}
/* line 55, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.secondary > li:first-child {
  float: left;
}
/* line 58, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.secondary > li a {
  color: #333;
  text-decoration: none;
  padding: 0 1em;
}
/* line 62, ../sass/modules/_homepage_nav.scss */
.home nav[role="navigation"] ul.secondary > li a:hover {
  color: #eee;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 6, ../sass/modules/_dropdown.scss */
.player nav[role="navigation"] form#dropdown_menu {
  width: 720px;
  margin: .5em auto;
  text-align: right;
}
/* line 10, ../sass/modules/_dropdown.scss */
.player nav[role="navigation"] form#dropdown_menu > select {
  padding: .25em 1em .25em .25em;
  font-size: 1.1em;
  background-color: #aaa;
  background-image: -webkit-linear-gradient(white, rgba(255, 255, 255, 0.5) 35%, transparent), url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-image: -moz-linear-gradient(white, rgba(255, 255, 255, 0.5) 35%, transparent), url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0.5) 35%, transparent), url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  color: #111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 6, ../sass/modules/_playlist.scss */
.player.playlist main {
  width: 1120px;
  margin: 0 auto;
}
/* line 10, ../sass/modules/_playlist.scss */
.player.playlist header {
  width: 100%;
}
/* line 13, ../sass/modules/_playlist.scss */
.player.playlist main article figure.videoplayer {
  width: 1120px;
  max-width: 100%;
  height: auto;
  margin: 0;
}
/* line 20, ../sass/modules/_playlist.scss */
.player.playlist main article figure.videoplayer .mejs-video,
.player.playlist main article figure.videoplayer video {
  width: 720px;
  max-height: 408px;
  float: left;
  margin: 0;
}
/* line 26, ../sass/modules/_playlist.scss */
.player.playlist main article figure.videoplayer .mejs-video.mejs-container-fullscreen {
  width: 100% !important;
  max-height: 100% !important;
  height: 100%;
}
/* line 32, ../sass/modules/_playlist.scss */
.player.playlist main nav[role="navigation"] {
  width: 100%;
}
/* line 36, ../sass/modules/_playlist.scss */
.player.playlist main nav[role="navigation"] form#dropdown_menu {
  width: 100%;
}
/* line 40, ../sass/modules/_playlist.scss */
.player.playlist main nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.prev {
  left: -50px;
}
/* line 43, ../sass/modules/_playlist.scss */
.player.playlist main nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.next {
  right: -50px;
}
/* line 48, ../sass/modules/_playlist.scss */
.player.playlist aside {
  width: 360px;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 54, ../sass/modules/_playlist.scss */
.player.playlist #playlist {
  z-index: 10;
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.5/stylesheets/toolkit/_clearfix.scss */
.player.playlist #playlist:after {
  content: "";
  display: table;
  clear: both;
}
/* line 49, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_inline-block-list.scss */
.player.playlist #playlist li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  white-space: nowrap;
}
/* line 58, ../sass/modules/_playlist.scss */
.player.playlist #playlist li {
  margin: 0 0 .5em 0;
  width: 358px;
  padding: .25em;
  background: #222;
  font-size: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 65, ../sass/modules/_playlist.scss */
.player.playlist #playlist li.selected, .player.playlist #playlist li.selected:hover {
  background: #444;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 68, ../sass/modules/_playlist.scss */
.player.playlist #playlist li.selected a, .player.playlist #playlist li.selected:hover a {
  color: #fff;
}
/* line 72, ../sass/modules/_playlist.scss */
.player.playlist #playlist li:hover {
  background: #333;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/* line 77, ../sass/modules/_playlist.scss */
.player.playlist #playlist li > a {
  color: #ccc;
  text-decoration: none;
  vertical-align: top;
  word-wrap: normal;
}
/* line 82, ../sass/modules/_playlist.scss */
.player.playlist #playlist li > a:hover {
  color: #eee;
  text-decoration: underline;
}
/* line 86, ../sass/modules/_playlist.scss */
.player.playlist #playlist li > a img {
  width: 136px;
  margin: 0 .5em 0 0;
  float: left;
}
/* line 92, ../sass/modules/_playlist.scss */
.player.playlist #playlist li span {
  display: block;
  color: #aaa;
  width: 184px;
  word-wrap: normal;
  overflow: hidden;
  white-space: normal;
  font-size: .8em;
  line-height: 1.33em;
  padding: 0 0 .5em 0;
}

/* line 5, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] {
  position: relative;
  margin: 0 auto;
  width: 850px;
}
/* line 10, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] {
  margin: 0;
  padding: 0;
  border: 0;
}
/* line 61, ../../../../../Library/Ruby/Gems/1.8/gems/toolkit-1.3.5/stylesheets/toolkit/_clearfix.scss */
.player nav[role="navigation"] ul[role="menubar"]:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.player nav[role="navigation"] ul[role="menubar"] li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.player nav[role="navigation"] ul[role="menubar"] li:first-child, .player nav[role="navigation"] ul[role="menubar"] li.first {
  padding-left: 0;
}
/* line 49, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.player nav[role="navigation"] ul[role="menubar"] li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.player nav[role="navigation"] ul[role="menubar"] li.last {
  padding-right: 0;
}
/* line 12, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next {
  position: absolute;
  top: 60px;
  z-index: 100;
  text-indent: 0;
  font-size: 6em;
  color: #bbb;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
/* line 23, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.next {
  right: 0;
}
/* line 26, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.next a:after, .player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.next .hidden:after {
  content: '\20\203A';
}
/* line 30, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.prev {
  left: 0;
  text-align: left;
}
/* line 34, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.prev a:before, .player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.prev:empty:before {
  content: '\2039\20';
}
/* line 38, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next.last {
  color: #555;
}
/* line 41, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next a {
  color: #bbb;
  text-decoration: none;
  height: 400px;
  width: 40px;
  line-height: 4.5em;
  border: 1px transparent solid;
  display: block;
}
/* line 49, ../sass/modules/_prev_next.scss */
.player nav[role="navigation"] ul[role="menubar"] li[role="menuitem"] > .prev-next a:hover {
  color: #fff;
}

@media (min-width: 720px) {
  /* line 6, ../sass/layout/_page.scss */
  .videoplayer {
    width: 720px;
  }
}
@media (min-width: 320px) and (max-width: 719px) {
  /* line 13, ../sass/layout/_page.scss */
  .videoplayer {
    width: 480px;
  }
  /* line 15, ../sass/layout/_page.scss */
  .videoplayer video {
    max-width: 100%;
  }
}
/* line 3, ../sass/layout/_homepage_nav.scss */
.home article {
  width: 916px;
}
/* line 5, ../sass/layout/_homepage_nav.scss */
.home article img {
  width: 100%;
}

/* line 5, ../sass/modules/_footer.scss */
footer {
  padding: 1em 0;
  clear: both;
  color: #ddd;
  margin: 0 auto;
  max-width: 720px;
  font-size: .75em;
  color: #999;
}
/* line 13, ../sass/modules/_footer.scss */
footer a {
  color: #aaa;
}
/* line 16, ../sass/modules/_footer.scss */
.playlist footer {
  max-width: 1120px;
}
